﻿@model List<Furniture>

<!DOCTYPE html>
<html>
<head>
    <title>List of Furniture</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">List of Furniture</h1>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Type: @item.Type</p>
                            <p class="card-text">Material: @item.Material</p>
                            <p class="card-text">Price: @item.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
