﻿@{
    ViewData["Title"] = "Additional";
}
<style>

    .nav-link {
        font-size: 24px;
        margin-right: 20px;
    }

</style>
<h2>Entertainment</h2>

<form id="addHotelFeatures" asp-controller="Home" asp-action="AddFeature">
    <div class="form-group mt-5">
        <label for="featureType">New feature:</label>
        <select class="form-control" id="roomType" name="featureType">
            <option value="" selected disabled>Choose an option</option>
            <option value="swimmingpool">Swimming pool</option>
            <option value="gym">Gym</option>
            <option value="spa">Spa</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add feature</button>
</form>