﻿
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">GrandHotel</h1>
    <p></p>
</div>

<style>
    
    .nav-link {
        font-size: 24px;
        margin-right: 20px;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item mr-3">
                <a class="nav-link" asp-controller="Rooms" asp-action="RoomsInfo">Rooms</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" asp-controller="Reservation" asp-action="ReservationInfo">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="AdditionalInfo">Additional</a>
            </li>
        </ul>
    </div>
</nav>


<img src="http://localhost:7279/images/fasad-9-1656951372E5OIQ.jpg" alt="Hotel Image" class="img-fluid">