﻿@model List<Guest>

@{
    ViewData["Title"] = "Reservation Page";
}


<form asp-action="GuestInfo">
    <div class="form-group">
        <label for="guestName">Guest Name:</label>
        <input type="text" class="form-control" id="guestName" name="guestName" required>
    </div>
    <div class="form-group">
        <label for="idDocument">ID Document:</label>
        <input type="text" class="form-control" id="idDocument" name="idDocument" required>
    </div>
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate" name="startDate" required>
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" class="form-control" id="endDate" name="endDate" required>
    </div>
    <div class="form-group">
        <label for="roomType">Room type:</label>
        <select class="form-control" id="roomType" name="roomType">
            <option value="Economy">Economy</option>
            <option value="Standard">Standard</option>
            <option value="Luxe">Luxe</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Check in</button>
</form>

@{
    Hotel hotel = Hotel.GetInstance();
}

@if (hotel.Guests.Count() > 0)
{
    <div class="mt-5">
    <h2>Guests</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Guest Name</th>
                <th>ID Document</th>
                <th>Room Type</th>
                <th>Room Number</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var guest in hotel.Guests)
            {
                <tr>
                    <td>@guest.Name</td>
                    <td>@guest.IdDocument</td>
                    <td>@guest.roomType</td>
                    <td>@guest.roomID</td>
                    <td>@guest.startDate.ToShortDateString()</td>
                    <td>@guest.endDate.ToShortDateString()</td>
                    
                </tr>
            }
        </tbody>
    </table>
    </div>
}