﻿@{
    ViewData["Title"] = "Edit rooms";
}
<style>
    .add-room-price{
        margin-left: 60px;
    }

    .item {
        display: flex;
        align-items: center;
    }

        .item img {
            width: 50px; 
            height: auto; 
            margin-right: 10px; 
        }

    .details {
        flex-grow: 1; 
    }

        .details h4 {
            margin: 0;
        }
</style>

<script>

    function showFurniture() {
        var shopSelect = document.getElementById("shopSelect");
        var selectedShop = shopSelect.value;

        document.getElementById("furnitureList").style.display = "block";
        document.getElementById("economyFurniture").style.display = "none";
        document.getElementById("standardFurniture").style.display = "none";
        document.getElementById("luxeFurniture").style.display = "none";

        if (selectedShop === "economy") {
            document.getElementById("economyFurniture").style.display = "block";
        } else if (selectedShop === "standard") {
            document.getElementById("standardFurniture").style.display = "block";
        } else if (selectedShop === "luxe") {
            document.getElementById("luxeFurniture").style.display = "block";
        }
    }
</script>


@{

    Hotel hotel = Hotel.GetInstance();
}

<h4>Budget: @hotel.Budget</h4>
<h6>Buy new furniture</h6>
<form id="shopForm">
    <div class="form-group">
        <label for="shopSelect">Shop:</label>
        <select class="form-control" id="shopSelect" name="shopSelect">
            <option value="economy">Economy</option>
            <option value="standard">Standard</option>
            <option value="luxe">Luxe</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" onclick="showFurniture()">Select shop</button>
</form>

<div id="furnitureList" style="display: none;">
    <h6>Furniture:</h6>
    <div id="economyFurniture" style="display: none;">
        <ul>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Chair</h4>
                        <p>Price: 3000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                  
                    <div class="details">
                        <h4>Table</h4>
                        <p>Price: 3000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Sofa</h4>
                        <p>Price: 9900</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                   
                    <div class="details">
                        <h4>Bed</h4>
                        <p>Price: 4900</p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="btn btn-success" asp-controller="Furniture" asp-action="FurnitureInfo" asp-route-shop="economy">Buy</a>
    </div>
    <div id="standardFurniture" style="display: none;">
        <ul>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Chair</h4>
                        <p>Price: 8000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                   
                    <div class="details">
                        <h4>Table</h4>
                        <p>Price: 7000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                   
                    <div class="details">
                        <h4>Sofa</h4>
                        <p>Price: 15000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Bed</h4>
                        <p>Price: 8900</p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="btn btn-success" asp-controller="Furniture" asp-action="FurnitureInfo" asp-route-shop="standard">Buy</a>
    </div>
    <div id="luxeFurniture" style="display: none;">
        <ul>
            <li>
                <div class="item">
                   
                    <div class="details">
                        <h4>Chair</h4>
                        <p>Price: 12000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Table</h4>
                        <p>Price: 10000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Sofa</h4>
                        <p>Price: 17000</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    
                    <div class="details">
                        <h4>Bed</h4>
                        <p>Price: 18000</p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="btn btn-success" asp-controller="Furniture" asp-action="FurnitureInfo" asp-route-shop="luxe">Buy</a>
    </div>
</div>


<form id="addRoomForm" asp-controller="Rooms" asp-action="AddRoom">
    <div class="form-group mt-5">
        <label for="roomType">Room:</label>
        <select class="form-control" id="roomType" name="roomType">
            <option value="Economy">Economy</option>
            <option value="Standard">Standard</option>
            <option value="Luxe">Luxe</option>
        </select>
    </div>
    <div class="form-group mt-2">
        <label>Additional:</label><br>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="goodViewCheckbox" name="goodView" value = true>
            <label class="form-check-label" for="goodViewCheckbox">Good view</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="wifiCheckbox" name="wifi" value=true>
            <label class="form-check-label" for="wifiCheckbox">Wi-Fi</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="breakfastCheckbox" name="breakfast" value=true>
            <label class="form-check-label" for="breakfastCheckbox">Breakfast</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add room</button>
</form>
