﻿@model List<Room>

@{
    ViewData["Title"] = "Rooms";
}
<style>
    .room-info {
        display: flex;
        align-items: center;
    }

    .room-info h2 {
    color:dimgray;
    }
    .room-info img {
        width: 250px;
        height: 250px;
        margin-right: 10px;
        margin-top: 40px;
    }

    .room-details {
        flex-grow: 1; 
    }

    .room-price {
        margin-left: auto;
        margin-right: 20px;
        font-size: 24px;
    }
    .room-id{
        margin-right: 20px;
        font-size: 18px;
    }
    .room-state{
        margin-right: 20px;
    }
    .mode{
        color:dimgray;
        font-size:20px;
    }
    .nav-link{
        color: dimgray;
        font-size: 20px;

    }

    .room-features{
        margin-right: 50px;
        color: darkgreen;
    }

</style>
@{
     Hotel hotel = Hotel.GetInstance();
}

<div class="container justify-content-between">

    <h1>Rooms</h1>
    <h4>Budget: @hotel.Budget</h4>
</div>

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item mr-3">
                <a class="mode nav-link" href="@Url.Action("RoomsInfo", "Rooms", new { viewMode = "list" })">List</a>
            </li>
            <li class="nav-item mr-3">
                <a class="mode nav-link" href="@Url.Action("RoomsInfo", "Rooms", new { viewMode = "table" })">Table</a>
            </li>
        </ul>
        <a class="nav-link" asp-controller="Rooms" asp-action="EditRooms">Editing rooms</a>
    </div>
</div>

<form asp-controller="Rooms" asp-action="SortRooms" class="form-inline">
    <label for="sortType" class="mr-2">Sort by:</label>
    <select name="sortType" id="sortType" class="form-control mr-2">
        <option value="" selected disabled>Choose an option</option>
        <option value="priceAscending">Price Ascending</option>
        <option value="priceDescending">Price Descending</option>
        <option value="typeLuxuryStandardEconomy">Type Luxury--Economy</option>
        <option value="typeEconomyStandardLuxury">Type Economy--Luxury</option>
    </select>
    <button type="submit" class="btn btn-primary">Sort</button>
</form>

@if ((string)ViewBag.ViewMode == "table")
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Description</th>
                <th>Features</th>
                <th>State</th>
                <th>Price</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.ID</td>
                    <td>@room.Type</td>
                    <td>@room.Description</td>
                    <td>
                        @foreach (var feature in @room.AdditionalFeatures)
                     {
                            <p>@feature</p>
                     }
                    </td>
                    <td>@room.StateInfo</td>
                    <td>@room.Price</td>
                   <td>
                        <a class="btn btn-success" asp-controller="Rooms" asp-action="ChangeState" asp-route-state="cleaning" asp-route-roomID="@room.ID">Cleaning</a>
                        <a class="btn btn-success" asp-controller="Rooms" asp-action="ChangeState" asp-route-state="repairing" asp-route-roomID="@room.ID">Repairing</a>
                   </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @foreach (var room in Model)
    {
        <div class="room-info">
            <div class="room-id">
                <p>ID: @room.ID</p>
            </div>
            <img src="@room.Image" alt="Room Image">
            <div class="room-details">
                <h2>@room.Type</h2>
                <p>@room.Description</p>
                <div class="room-features">
                    @foreach (var feature in @room.AdditionalFeatures)
                    {
                        <p>@feature</p>
                    }
                </div>
            </div>
         
            <div class="room-state">
                <p style="color:red">@room.StateInfo</p>
            </div>
            <div class="room-price ">
                <p>Price: @room.Price</p>
            </div>
            <div>
                <a class="btn btn-success" asp-controller="Rooms" asp-action="ChangeState" asp-route-state="cleaning" asp-route-roomID="@room.ID">Cleaning</a>
                <a class="btn btn-success" asp-controller="Rooms" asp-action="ChangeState" asp-route-state="repairing" asp-route-roomID="@room.ID">Repairing</a>
            </div>
        </div>
    }
}

